In [8]:
import pandas as pd

In [9]:
df = pd.read_excel(r"C:\Users\Admin\Documents\data-engineer-fundamentals-masterclass\data-engineer-fundamentals-masterclass\Origem de dados\arquivos_csv\Produto.xlsx")
df.head(5)

   ID                  Name  Price  Id_Category
0   0       Sapato vermelho     96            0
1   1  Bolsa mais que Velha   8000            0
2   2                 Calça     75            0
3   3    Camisa apertadinha    170            0
4   4   Vestido Super curto     57            0

In [ ]:
# df_calca = df.loc[df['coluna'] == 'Calça']  localizar 1 item especifico de uma coluna
df_calca = df.loc[df['Name'] == 'Vestido Super curto']

In [ ]:
df_calca

In [ ]:
itens = ['Calça','TV', 'Perfume','Fogão']
df_itens = df.loc[df['Name'].isin(itens)]

In [ ]:
df_itens

In [ ]:
df_itens2 = df.loc[df['Name'].isin(['Calça','TV', 'Sapato vermelho','Fogão'])]
df_itens2

In [ ]:
#Localizar valor > que o que escolher
dfMais1000 = df.loc[df['Price'] > 1000]

In [ ]:
dfMais1000.head()

In [ ]:
dfmenos1000 = df.loc[df['Price'] < 1000] 
dfmenos1000.head()

In [ ]:
df200a1000 = df.loc[(df['Price'] > 200) & (df['Price'] <= 2000)]
df200a1000